SUPABASE_URL=https://twdruhhhnsbrpyzlfxmg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3ZHJ1aGhobnNicnB5emxmeG1nIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDgyNzEyMywiZXhwIjoyMDkwNDAzMTIzfQ.sy1M__fwy39lyEuEoS2FQAELUTcOasqVKdG_PyXZYTg
